#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #38618C;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: white;
    color: black;
}

main section {
    text-align: right;
}

main section img {
    float: left;
    margin: 0 20px 20px 0; 
}
#background {
    height: 725px;
    background-color: white;
    color: #C2847A ;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: white;
    font-family: Serif, Serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: white;
    display: grid;
    grid-template-columns: 150px auto;
  }
  nav a:hover {
      background-color: white;
      color: #387780;
  }
  footer {
    background-color: white;
    color: #774E24;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color:#774E24;
    text-decoration: none;
}
footer a:hover {
    color: #387780;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
#gallery img {
    width: calc(33% - 40px); /* Three images with 20px gap on each side */
    aspect-ratio: 1 / 1; /* Maintain a square shape */
    box-sizing: border-box;
    border: 10px solid black;
    box-shadow: 5px 5px 10px #6f7364;
    transition: transform 0.5s;
}
#gallery img:hover {
    opacity: 0.8;
    transform: scale(1.05);
}